*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/gradle
.idea
/app/build
/skin-red
.skin-night/build
/uikit/build
/cardview/build
/drawingview/build
/hmsagents/build
/waveview/build
